/*
 * WARNING !
 * This test suite is not intended to be ran by consumers
 * Running the test suite will create tasks & upload data !
 * This will consume credits from your account
 */

module.exports = {
    token: 'my-secret-token'
};